<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello in FILMWEB APPLICATION </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body background="background.jpg">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/about">About us</a></li>
                <li><a href="/user">User</a></li>
                <li><a href="/film">Film</a></li>
                <li><a href="/actor">Actor</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="text-indent: 1.0cm"><br /> <br /><br />
    <h1><b>FILMWEB APPLICATION</b></h1>
</div>
<div class="container">
    <div  class="row">
        <div class="col-md-12"><h2>Welcome to our movie-databese webpage.</h2><br/>
            Here you can find various information about films and get familiar with their user <br/>
            score across critic web-pages .
            We hope you will find this tool useful and its rough<br/>
            (or rather minimalistic) interface will not deter you from utilizing its potential.<br/></div>
    </div>
</div>
<div style="text-indent: 1.0cm">
    <h3><b>Created by SDA Lodz students november 2017: </b></h3>
    <h3>Julia, Joanna, Piotr, Maciej, Piotr, Łukasz, Piotr, Rafał</h3>
</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>