<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actor results:</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Actor first name</th>
        <th scope="col">Last name</th>
        <th scope="col">Birth date</th>
        <th scope="col">Passing date</th>
        <th scope="col">Rating</th>
        <th scope="col">Films</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="actorList: ${actorList}">
        <td th:text="${actorList.firstName}"/>
        <td th:text="${actorList.lastName}"/>
        <td th:text="${actorList.birthDate}"/>
        <td th:text="${actorList.passingDate}"/>
        <td th:text="${actorList.rating}"/>
        <td th:text="${actorList.films}"/>
    </tr>
    </tbody>
</table>

</body>
</html>