<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actor results:</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Film Title</th>
        <th scope="col">Director</th>
        <th scope="col">Year Produced</th>
        <th scope="col">Genre</th>
        <th scope="col">Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="filmlist: ${filmlist}">
        <td th:text="${filmlist.title}"/>
        <td th:text="${filmlist.director}"/>
        <td th:text="${filmlist.year}"/>
        <td th:text="${filmlist.genre.name}"/>
    </tr>
    </tbody>
</table>

</body>
</html>