<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User results:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Genre Preference</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userList: ${userList}">
        <td th:text="${userList.username}"/>
        <td th:text="${userList.password}"/>
        <td th:text="${userList.firstName}"/>
        <td th:text="${userList.lastName}"/>
        <td th:text="${userList.genrePreference}"/>
        <td th:text="${userList.birthDate}"/>
        <td th:text="${userList.role}"/>
    </tr>
    </tbody>
</table>
</body>
</html>